<ion-view title="Home">
  <ion-content >
 		<div class="item item-image">
    		<img src="templates/tab-logo.jpg">
  		</div>
	
	<div class="card">
  		<div class="item item-text-wrap">
   			Seus Resultados
  		</div>
	</div>

	<div class="row">

	<div class="col"><a class="button icon ion-gear-a"></a> </div>

	<div class="list">
  		<div class="item item-input-inset">
    		<label class="item-input-wrapper">
      			<input type="text" placeholder="Email">
    		</label>
    		<button class="button button-small button-assertive" href="#/tab/quiz">
      			Jogue Agora!
    		</button>
  		</div>
  </ion-content>

</ion-view>
