<ion-view title="Home">
  <ion-content>
    <div class="content padding">
      <div class="item item-image">
        <img src="img/tab-logo.jpg">
      </div>
      <button class="button button-block button-assertive icon ion-play">
        Iniciar Jogo
      </button>
      <button class="button button-block button-assertive icon ion-arrow-graph-up-right">
        Ranking
      </button>
      <button class="button button-block button-assertive icon ion-gear-a">
        Configurações
      </button>
    </div>
    <!-- <div class="row">
      <div class="col">
        <a class="button icon ion-gear-a"></a>
      </div>
      <div class="list">
        <div class="item item-input-inset">
        	<label class="item-input-wrapper">
            <input type="text" placeholder="Email">
        	</label>
        	<button class="button button-small button-assertive" href="#/tab/quiz">
            Jogue Agora!
          </button>
        </div>
      </div>
    </div> -->
  </ion-content>
</ion-view>
