<ion-view title="Questões">
  <ion-content>
      <div class="card">
  <div class="item item-text-wrap">
    {{questions[0].body}}
  </div>
</div>

  <div class="list">

  <label ng-repeat="option in questions[0].options" class="item item-radio ">
    <input type="radio" name="group">
    <div class="item-content">
      {{option}}
    </div>
    <i class="ion-checkmark-circled radio-icon"></i>
  </label>
  </div>

<div class="row row-center">
<div class="col"><a class="button  ion-close-circled button-assertive" href="#/tab/quiz"></a></div>
<div class="col"><a class="button ion-arrow-right-c" href="#/tab/home"></a> </div>
<div class="col"><a class="button icon-right ion-checkmark-circled button-balanced" href="#/tab/quiz"></a> </div>
<div class="col">Tempo: <h3><timer interval="1000">{{minutes}}:{{seconds}}</timer></h3></div>
</div>

</ion-content>
</ion-view>
